*.o
*.a
*.la
*.lo
Makefile
Makefile.in
.deps
.libs
m4
aclocal.m4
autom4te.cache
config.*
configure
*.tar.gz
*.tar.bz2
libtool
smis_lsmplugin
stamp-h1
smiscli
*.patch
libstoragemgmt.pc
libstoragemgmt.spec
build-aux
doxygen.conf
lsmcli.1
lsmd.1
version.py
libstoragemgmt_version.h
python_binding/lsm/plugin
python_binding/lsm/lsmcli
daemon/lsm_restd
daemon/lsmd
*.pyc
test/tester
tools/udev/scan-scsi-target
tools/lsmcli/lsmcli
test/runtests.sh
plugin/*/*_lsmplugin
debian/.debhelper/
debian/autoreconf.after
debian/autoreconf.before
debian/debhelper-build-stamp
debian/files
debian/libstoragemgmt-dev.substvars
debian/libstoragemgmt-dev/
debian/libstoragemgmt-plugins.postinst.debhelper
debian/libstoragemgmt-plugins.prerm.debhelper
debian/libstoragemgmt-plugins.substvars
debian/libstoragemgmt-plugins/
debian/libstoragemgmt-tools.substvars
debian/libstoragemgmt-tools/
debian/libstoragemgmt1.substvars
debian/libstoragemgmt1/
debian/libstoragemgmtd.substvars
debian/libstoragemgmtd/
debian/python-libstoragemgmt.postinst.debhelper
debian/python-libstoragemgmt.prerm.debhelper
debian/python-libstoragemgmt.substvars
debian/python-libstoragemgmt/
debian/libstoragemgmtd.postinst.debhelper
debian/libstoragemgmtd.postrm.debhelper
debian/libstoragemgmtd.prerm.debhelper
debian/tmp/
test/cmdtest.py
test/plugin_test.py
tools/basic_check/local_check.py
tools/use_cases/find_unused_lun.py
doc/api_man
doc/man/*.[135]
c_binding/util/.dirstamp
python_binding/lsm/.dirstamp
