*.o
*.a
*.la
*.lo
Makefile
Makefile.in
.deps
.libs
m4
aclocal.m4
autom4te.cache
config.*
configure
*.tar.gz
*.tar.bz2
libtool
smis_lsmplugin
stamp-h1
smiscli
*.patch
libstoragemgmt.pc
libstoragemgmt.spec
build-aux
doxygen.conf
lsmcli.1
lsmd.1
version.py
libstoragemgmt_version.h
python_binding/lsm/plugin
python_binding/lsm/lsmcli
daemon/lsm_restd
daemon/lsmd
*.pyc
test/tester
tools/udev/scan-scsi-target
test/runtests.sh
