*.o
*.a
*.la
*.lo
Makefile
Makefile.in
.deps
.libs
m4
aclocal.m4
autom4te.cache
config.*
configure
*.tar.gz
*.tar.bz2
libtool
smis_lsmplugin
stamp-h1
lsmcli
smiscli
*.patch
libstoragemgmt.pc
libstoragemgmt.spec
build-aux
doxygen.conf
lsmcli.1
lsmd.1
version.py
