sudo: false
language: c

addons:
  apt:
    packages:
        - gcc 
        - tar 
        - make 
        - g++ 
        - libtool 
        - autoconf 
        - automake 
        - libyajl-dev 
        - python-pywbem 
        - libxml2-dev 
        - check 
        - libglib2.0-dev 
        - python-m2crypto 
        - libssl-dev 
        - libconfig-dev

compiler: gcc

script: ./autogen.sh && ./configure --without-rest-api &&
        env DISTCHECK_CONFIGURE_FLAGS="--without-rest-api" make distcheck
