sudo: false
language: c

addons:
  apt:
    packages:
        - gcc
        - tar
        - make
        - g++
        - libtool
        - autoconf
        - automake
        - libyajl-dev
        - python-pywbem
        - libxml2-dev
        - check
        - libglib2.0-dev
        - python-m2crypto
        - libssl-dev
        - libconfig-dev
        - libudev-dev
        - python-dev
        - valgrind
        - chrpath
        - python-pyudev
        - libsqlite3-dev

compiler: gcc

script: ./autogen.sh && ./configure && make distcheck
