[Unit]
Description=libstoragemgmt plug-in server daemon
Requires=libstoragemgmt.service
After=syslog.target

[Service]
ExecStart=/usr/bin/lsm_restd
ExecReload=/bin/kill -HUP $MAINPID
StandardError=syslog
User=libstoragemgmt

[Install]
WantedBy=multi-user.target
