version: 2.1
jobs:
  fedora:
    docker:
      - image: fedora
    steps:
      - run:
         command:  dnf install -y git dnf-plugins-core
         no_output_timeout: 5m
      - checkout
      - run:
         command: ./test/docker_ci_test.sh
         no_output_timeout: 20m

workflows:
  version: 2
  workflow:
    jobs:
    - fedora
