#!/usr/bin/make -f

#export DH_VERBOSE = 1
export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@ --with python3

override_dh_auto_configure:
	dh_auto_configure -- \
		--disable-static \
		--without-test \
		--without-smispy \
		--without-ledmon \
		--with-systemdsystemunitdir=/usr/lib/systemd/system \
		--with-systemd-sysusersdir=/usr/lib/sysusers.d \
		--with-systemd-tmpfilesdir=/usr/lib/tmpfiles.d

override_dh_auto_install:
	dh_auto_install
	find debian/tmp -name '*.la' -delete
	# udev files are noinst in Makefile.am; install manually like the RPM spec does
	install -D -m 644 tools/udev/90-scsi-ua.rules \
		debian/tmp/usr/lib/udev/rules.d/90-scsi-ua.rules
	install -D -m 755 tools/udev/scan-scsi-target \
		debian/tmp/usr/lib/udev/scan-scsi-target

override_dh_missing:
	dh_missing --fail-missing
